# Conhecendo a base de dados

## Importando os dados

In [26]:
import pandas as pd

In [27]:
bd = pd.read_csv('aluguel.csv' , sep = ';')
bd.head(10) #mostra as 10 primeiras linhas

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
6,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
7,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
8,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
9,Conjunto Comercial/Sala,Centro,0,3,0,695,35000.0,19193.0,3030.0

In [28]:
bd.tail(10) #mostra as 10 ultimas linhas

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
32950,Apartamento,Tijuca,1,0,0,28,1000.0,360.0,25.0
32951,Apartamento,Vila Valqueire,2,0,0,52,1000.0,550.0,NaN
32952,Casa de Condomínio,Barra da Tijuca,5,3,4,450,15000.0,1711.0,2332.0
32953,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
32954,Box/Garagem,Centro,0,0,0,755,14000.0,NaN,NaN
32955,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
32956,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
32957,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN
32959,Conjunto Comercial/Sala,Centro,0,0,0,250,6500.0,4206.0,1109.0

In [29]:
type(bd) #mostra o tipo do objeto

pandas.core.frame.DataFrame

In [30]:
bd.shape #mostra a quantidade de linhas e colunas

(32960, 9)

In [31]:
bd.columns #mostra o nome das colunas

Index(['Tipo', 'Bairro', 'Quartos', 'Vagas', 'Suites', 'Area', 'Valor',
       'Condominio', 'IPTU'],
      dtype='object')

In [32]:
bd.info() #mostra informações sobre o dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32960 entries, 0 to 32959
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        32960 non-null  object
 1   Bairro      32960 non-null  object
 2   Quartos     32960 non-null  int64
 3   Vagas       32960 non-null  int64
 4   Suites      32960 non-null  int64
 5   Area        32960 non-null  int64
 6   Valor       32943 non-null  float64
 7   Condominio  28867 non-null  float64
 8   IPTU        22723 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.3+ MB

## Características gerais da base de dados

In [33]:
# a = bd['Tipo'] #mostra a coluna tipo
# a.unique() #mostra os valores unicos da coluna tipo

# Análise exploratória de dados

## Qual o valor médio de aluguel por tipo de imóvel?

In [36]:
bd['Valor'].mean() #mostra a media dos valores da coluna valor

np.float64(12952.659715265761)

In [38]:
bd.groupby('Tipo').mean(numeric_only=True) #mostra a media dos valores agrupados por tipo

,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
Tipo,,,,,,,
Apartamento,2.481569,1.232388,0.875998,119.790498,4744.614648,1722.653697,686.170413
Box/Garagem,0.060976,1.304878,0.000000,17.524390,1899.756098,305.450000,125.846154
Casa,3.133402,1.795243,1.258532,250.578077,6793.454922,931.280952,1582.506394
Casa Comercial,1.562264,2.203774,0.260377,372.241509,14478.264151,1935.709677,1707.386740
Casa de Condomínio,4.007028,3.101406,2.864458,456.161647,11952.061245,1342.025527,3252.517730
Casa de Vila,1.927711,0.389558,0.228916,78.469880,1574.369478,138.768421,183.878788
Chácara,3.000000,0.000000,0.000000,0.000000,4900.000000,NaN,NaN
Conjunto Comercial/Sala,0.040939,2.516801,0.010858,214.472487,14715.045521,4512.218100,1399.596571
Flat,1.415966,0.962185,0.754202,65.483193,4546.189076,2027.720554,493.166667
Galpão/Depósito/Armazém,0.043339,5.587480,0.000000,2514.810594,53407.062600,10560.308824,5050.465241
Hotel,25.500000,2.500000,12.000000,885.500000,25000.000000,NaN,6202.000000
Indústria,0.000000,0.000000,0.000000,22.000000,120000.000000,NaN,NaN
Loft,1.117647,0.666667,0.372549,58.372549,2557.882353,869.239130,238.243243
Loja Shopping/ Ct Comercial,0.044534,6.874494,0.008097,88.109312,8126.178862,1790.109005,1052.415459
Loja/Salão,0.010519,1.217391,0.043478,228.852034,13769.646770,2605.601954,2670.331409
Loteamento/Condomínio,0.000000,0.000000,0.000000,2069.000000,22000.000000,NaN,4885.000000
Pousada/Chalé,23.000000,0.000000,23.000000,862.000000,1480.000000,295.000000,NaN
Prédio Inteiro,0.335548,11.199336,0.019934,1773.837209,498637.239203,55066.750000,165480.022472
Quitinete,0.834928,0.017943,0.037081,28.954545,1246.840909,427.341969,75.790741
Studio,0.500000,0.250000,0.000000,103.250000,2400.000000,549.000000,151.250000
Sítio,5.100000,1.000000,3.800000,15217.000000,12499.000000,NaN,5848.800000
Terreno Padrão,0.042857,0.057143,0.000000,5044.814286,32567.714286,1.000000,5138.170732

In [40]:
bd.groupby('Tipo')[['Valor']].mean()

Tipo
Apartamento                      4744.614648
Box/Garagem                      1899.756098
Casa                             6793.454922
Casa Comercial                  14478.264151
Casa de Condomínio              11952.061245
Casa de Vila                     1574.369478
Chácara                          4900.000000
Conjunto Comercial/Sala         14715.045521
Flat                             4546.189076
Galpão/Depósito/Armazém         53407.062600
Hotel                           25000.000000
Indústria                      120000.000000
Loft                             2557.882353
Loja Shopping/ Ct Comercial      8126.178862
Loja/Salão                      13769.646770
Loteamento/Condomínio           22000.000000
Pousada/Chalé                    1480.000000
Prédio Inteiro                 498637.239203
Quitinete                        1246.840909
Studio                           2400.000000
Sítio                           12499.000000
Terreno Padrão                  32567.714286
Name: Valor, dtype: float64

## Removendo os imóveis comerciais

## Qual o percentual de cada tipo de imóvel na nossa base de dados?

### **Selecionando apenas os imóveis do tipo apartamento**

# Tratando e filtrando os dados

## Lidando com dados nulos

## Removendo registros

## Filtros

### **1. Apartamentos que possuem `1 quarto` e `aluguel menor que 1200`**

### **2. `Apartamentos` que possuem pelo menos `2 quartos`, `aluguel menor que 3000` e `area maior que 70`**

## Salvando os dados

# Manipulando os dados

## Criando colunas numéricas

## Criando colunas categóricas