# Conhecendo a base de dados

## Importando os dados

In [ ]:
import pandas as pd

In [ ]:
bd = pd.read_csv('data/aluguel.csv' , sep = ';')
bd.head(10) #mostra as 10 primeiras linhas

In [ ]:
bd.tail(10) #mostra as 10 ultimas linhas

In [ ]:
type(bd) #mostra o tipo do objeto

In [ ]:
bd.shape #mostra a quantidade de linhas e colunas

In [ ]:
bd.columns #mostra o nome das colunas

In [ ]:
bd.info() #mostra informações sobre o dataframe

## Características gerais da base de dados

In [ ]:
# a = bd['Tipo'] #mostra a coluna tipo
# a.unique() #mostra os valores unicos da coluna tipo

# Análise exploratória de dados

## Qual o valor médio de aluguel por tipo de imóvel?

In [ ]:
bd['Valor'].mean() #mostra a media dos valores da coluna valor

In [ ]:
bd.groupby('Tipo').mean(numeric_only=True) #mostra a media dos valores agrupados por tipo

In [ ]:
bd.groupby('Tipo')[['Valor']].mean().sort_values('Valor')

In [ ]:
df_preco_tipo = bd.groupby('Tipo')[['Valor']].mean().sort_values('Valor')
df_preco_tipo.plot(kind='barh', figsize=(14, 10), color ='purple');

## Removendo os imóveis comerciais

In [ ]:
bd.Tipo.unique() #mostra os valores unicos da coluna tipo

In [ ]:
imoveis_residenciais = ['Quitinete' , 'Casa' , 'Apartamento' , 'Casa de Condomínio' , 'Flat' , 'Casa de Vila' , 'Loft' , 'Studio']

In [ ]:
df = bd.query('@imoveis_residenciais in Tipo') #Seleciona da minha base de dados apenas 
                                        #os imovéis comerciais presentes na minha lista imoveis_comerciais

In [ ]:
df.Tipo.unique() #mostra os valores unicos da coluna tipo

In [ ]:
df_preco_tipo = df.groupby('Tipo')[['Valor']].mean().sort_values('Valor')
df_preco_tipo.plot(kind='barh', figsize=(14, 10), color ='purple');

## Qual o percentual de cada tipo de imóvel na nossa base de dados?

In [ ]:
df.Tipo.value_counts(normalize=True)

In [ ]:
df.Tipo.value_counts(normalize=True).to_frame().sort_values('Tipo') #to_frame transforma uma Series em dataframe

In [ ]:
df_percentual_tipo = df.Tipo.value_counts(normalize=True).to_frame().sort_values('Tipo')

df_percentual_tipo.plot(kind='bar', figsize=(14, 10), color ='green', xlabel='Tipos' , ylabel='Percentual' , title='Percentual de imóveis por tipo');

### **Selecionando apenas os imóveis do tipo apartamento**

In [ ]:
df.query('Tipo == "Apartamento"')

In [ ]:
df = df.query('Tipo == "Apartamento"')
df.head(10)

# Tratando e filtrando os dados

## Lidando com dados nulos

In [ ]:
df.isnull() # mostra os valores nulos

In [ ]:
df.isnull().sum() #mostra a quantidade de valores nulos

In [ ]:
df = df.fillna(0)

In [ ]:
df.isnull().sum()

## Removendo registros

In [ ]:
df.query('Valor == 0 | Condominio == 0')

In [ ]:
df.query('Valor == 0 | Condominio == 0').index #mostra os indices dos valores nulos

In [ ]:
registros_a_remover = df.query('Valor == 0 | Condominio == 0').index #mostra os indices dos valores nulos

In [ ]:
df.drop(registros_a_remover, axis=0 , inplace=True) #remove os valores nulos

In [ ]:
df.query('Valor == 0 | Condominio == 0')

In [ ]:
# Dados que existe apenas o tipo Apartamento na Coluna Tipo, podemos tirar também a coluna Tipo 
# Lembrando que o parâmetro axis no método drop se refere a 0=linha , 1=coluna. Como quero excluir a Coluna Tipo, usarei axis=1
# Inplace=True para que a alteração seja feita no próprio DataFrame, sem a necessidade de criar um novo DataFrame ou atribuir ao dataframe antigo.

df.drop('Tipo', axis=1, inplace=True)

In [ ]:
df.head(10)

## Filtros

### **1. Apartamentos que possuem `1 quarto` e `aluguel menor que 1200`**

In [ ]:
df_query_1 = df.query('Quartos == 1 & Valor < 1200')

df_query_1

In [97]:
# Salvando DataFrame em um arquivo CSV

df_query_1.to_csv('aluguel_menor_1200.csv', sep=';', index=False)

In [ ]:
# Visualizando Dataframe novo

df_query_1 = pd.read_csv('aluguel_menor_1200.csv', sep=';')
df_query_1.head(10)

### **2. `Apartamentos` que possuem pelo menos `2 quartos`, `aluguel menor que 3000` e `area maior que 70`**

In [ ]:
df_query_2 = df.query('Quartos >= 2 & Valor < 3000 & Area > 70')
df_query_2

In [ ]:
# Salvando Dados de apartamentos com 2 quartos ou mais, aluguel menor que 3000 e área maior que 70m²

df_query_2.to_csv('aluguel_menor_3000_maior_70.csv', sep=';', index=False)

## Salvando os dados

In [ ]:
df.to_csv('dados_apartamentos.csv')

In [ ]:
pd.read_csv('dados_apartamentos.csv')

In [ ]:
df.to_csv('dados_apartamentos.csv' , index=False)

In [ ]:
pd.read_csv('dados_apartamentos.csv')

In [ ]:
df.to_csv('dados_apartamentos.csv' , index=False , sep=';')

In [ ]:
pd.read_csv('dados_apartamentos.csv' , sep=';')

# Manipulando os dados

## Criando colunas numéricas

## Criando colunas categóricas